html, body {
    margin: 0;
}

nav {
    background-color: #2b2b2c;
    background-image: url("mobile-shield.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 70px;
    margin: 0px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index: 1;
    position: fixed;
    font-family: sans-serif;
    font-size: small;
}

nav li {
    padding: 0.5em;
}

nav ul li {
    display: inline-block; 
    padding: 5px 30px;
}

nav a {
    text-decoration: none;
    text-transform: uppercase;
    color: #eceaea;
}

h1 {
    font-family: sans-serif;
}
h2 {
    font-family: sans-serif;
    color: #158ccc;
}

p {
    font-family: sans-serif;
}

.courseInfo {
     text-align: center;
     color: #158ccc ;
}

#promoVideo {
    position: sticky;
    right: 0px;
    bottom: 0px;
    left:0px;
    top: 100px;
    min-width: 100%;
    min-height: 100%;
    z-index: 0;
}

.videoBox {
    position: absolute;   
    left: 30%;
    right: 30%;
    bottom: 30%;
    background: rgba(0, 0, 0, 0.5);
    color: #eceaea;
    width: fit-content;
    padding: 40px;
    font-family: sans-serif;
    font-weight: bold;
    text-align: center; 
}

.videoBox2 {
    background: #ff0d0d;
    color: #f1f1f1;
    width: fit-content;
    padding: 20px;
    margin: 50px;
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
    z-index: 1;
    position: absolute;
    left: -7%;
    
}

.corInfoSection {
      background-color:#E6E8E9  ;
      padding: 0px;
      width: 100%;
      height: 600px;
      margin: 0px;
}

.flex-container {
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin: 0 -5px;
      
}

.innerbox {
      background-color: white;
      width: 250px;
      height: 350px;
      border: 1px solid white;
      display: flex;
      align-content: center;
      align-items: flex-start;
      font-family: sans-serif;
      margin: 0 5px;
      flex-wrap: wrap;
      padding: 20px;

}

.flex-containerTwo {
      display: flex;
      justify-content: center;
      margin: 5em 15em 5em 15em;
}

#box4 {
      display: flex;
      align-items: center;
}

.shieldLogo {
      display: flex;
      justify-content: center;
      background-color: white;
      width: 100%;
}

#box5 {
      padding: 2em 4em 2em 2em;
}